.DS_Store

#backups (starting or ending with ~)
~*
*~
#composer vendor files
# need to regenerated on local machine
/vendor/

#env files (passwords/keys)
.env

#generated pages/
public/pages/

#data files
/logs/
/var/*
*.bbprojectd/
tests/

#script
merge-push
publish

#version
#data/version


#except

