@media print {
	/* use smaller type, larger lin spacing. */
	:root {
	font-size: 12pt; ;
	}

   @page {
   	size: 8.5in 11in;
      margin: 0.3in;
      padding 0;
   }
	.no-print {display:none;}
	div.break {page-break-before: always;}
	#conditions {display:none;}
}


 div.flex-container > div{
  	flex:100%;
  	}
@media (max-width: 800px) {
  div.flex-container {
    flex-direction: column;
  }
}





#head {
		text-align:center;
		background-color:black;
		color:white;
		margin-bottom: 0.5em;
/* 		width:100%; */
		padding:1em;
		display:flex;
		align-items:flex-end;
		}

h5
{
	margin-bottom: 3px;
	font-size: 1em;
	text-decoration:underline;
	margin-top:3px;

}
h4
{
	margin-bottom: 3px;
	margin-top:1em;
	font-size: 1.1em;

	font-weight:bold;
}



h2 { font-size: 1.4em;
	font-weight:500;
	text-align:center;
	}

h1 { font-size: 1.6em;
	font-weight:700
	text-align:center;}

.auto {
	margin-left:auto;
	margin-right:auto;
}

.tdate {margin-bottom:0;}

input[type=text] {
	background-color:#FFC;
	border: 1px solid #CC9;

	}

input:invalid {
	background-color:#F00;
}



button {
	background-color:#CCF;
	font-weight: bold;
}
input[type=checkbox] {
	outline:1px solid black;
	font-size:1.2em;

}

input[type=radio] {
	outline:1px solid black;
	font-size:1.2em;

}


input.submit, button.submit {
	background-color:#9F9;
}
.invalid { background-color:#Fcc;}

textarea {
	background-color:#FFC;
	border: 1px solid #CC9;
	width: 40em;
	max-width: 85%;
	height:4em;
	}



.pithy
{
	font-style: italic;
	text-align: center;
	margin-top:6px;
	margin-bottom:6px;
}



.right { text-align: right; }
.left { text-align: left; }
.center {text-align: center; }

.red {color:red;}
.white {color:white;}
.black {color:black;}
.orange {color:#F3984D;}
.dk-green{color:#008F00;}
.dk-orange{color:#BC2A46 ;}

.lt-grn { background-color: #D4FB79; }
.bg-lgrn { background-color: #D4FB79; }
.bg-yellow {background-color: yellow; }
.bg-orange {background-color:#F3984D;}
.midnight {background-color:#011993; color:#FFF;}
.highnoon {background-color:#D5EDFA; color:#000;}
.bg-blue {background-color:#005493; color:#EBEBEB;}

.bg-black{background-color:black; padding:6px;}


.width50 {width:50%;}
.width45 {width:45%;}
.width60 {width:60%;}
.width80 {width:80%}
.width90 {width:90%}
.width100 {width:100%;}

.larger {font-size:1.2em;}
.largest {font-size:1.6em;}
.sectionhead {
	text-align:left;
	border-bottom: 1px solid black;
	margin-bottom: 3px;
	font-weight:bold;
}

.night {
	background-color:black;
	color:white;
}

.no-border {border:0;}
.bottom-border {border-bottom:1px solid gray;}
.no-bottom {border-bottom:0;}
.no-top {border-top:0;}
.border {
	border: 2px solid black;
	padding: 3px;
}


.float, .floatl {float:left; margin-right:1em;;}
.floatr {float:right; margin-left:1em;;}
div.clear {clear:both;}
.clearafter::after{
    content: '';
    display: block;
    clear: both;
}

div.flex-container{
    display: -webkit-flex; /* Safari */
    display: flex; /* Standard syntax */
    flex-direction:row;
    flex-wrap:nowrap;
   /*  justify-content:space-between; */
    align-content:center;
    vertical-align:top;
    width:100%;

}

div.middle {
	margin-left:auto;
	margin-right:auto;
}

div.conditions {
	margin-bottom:1em;
	vertical-align:top;
	padding:6px;
	display:inline-block;
	margin-left:0;
	margin-right:0;
	text-align:left;
	width:30%;
}
div.alert{
	border:4px solid red;
	margin-top:1em;
	margin-bottom;1em;
	width:80%;
	margin-left:auto;
	margin-right:auto;
	font-weight:500;
	padding:0.5em;
}



	#head .title {
		display:inline-block;
		flex:1;

	}

	#head .title>h1 {
		margin:0.3em;;
		}


	#head .title>h2 {
		margin:0.3em;
		}
	#head  .pad {
			width:12%;
			/* display:inline-block; */
			font-weight:500;
			font-size:1rem;
			flex:1;

		}



div.dayblock {
	border:1px solid black;
	font-weight:bold;
	font-size:1.1em;
	padding:1em;
	vertical-align:top;
/* 	float:left; */
	display:inline-block;
	text-align:center;
	flex: 48%;
}

div.nightblock {
	border:1px solid black;
	font-weight:bold;
	font-size:1em;
	padding:1em;
	vertical-align:top;
	/* float:left; */
	text-align:center;
	display:inline-block;
	flex:48%;
}
div.dayblock  h3{
	margin-top:0;
}
div.nightblock  h3{
	margin-top:0;
}
div.dayblock  img{
	width:6em;;
}
div.nightblock  img{
	width:6em;
}
.inlineblock {display:inline-block;}
.inline {display:inline;}


table {
	border-collapse: collapse;
	border: 2px solid black;
	font-size:1em;
}

table tr td
{
	border: 1px solid black;
	text-align: center;
	padding: 6px;
	padding-left:1em;
	padding-right:1em;
	vertical-align:top;

}


table tr th
{
	border: 2px solid black;
	text-align: center;
	padding: 6px;
	vertical-align:top;

}


table.index {border:2px solid black; border-collapse:collapse;}
table.index tr td {text-align:left;border:1px solid black;padding:6px;}

table.center {margin-left:auto;margin-right:auto;}
/*
table.caltable td {
	text-align:left;
}
 */
table.caltable tr.eventrow, table.caltable tr.eventrow td {
	border-top:6px solid #F39840;
	border-bottom:0;
	text-align:left;
}
table.caltable tr.noterow, table.caltable tr.noterow td {
	border-top:1px solid gray;

	text-align:left;
}
table.caltable .daterow {
	border-top:1px solid black;
	border-bottom:1px solid black;
	background-color:#F39840;
	padding-bottom:3px;
	padding-top:3px;

}
table.caltable .tvdaterow td{
	border-top:8px solid #F39840;
	border-bottom:0;
	padding-bottom:3px;
	padding-top:3px;

}

table.header {
	background-color:black;
	width:85%;
}
table.header tr td {
	background-color:black;
	text-align:right;
	color:white;
	padding:3px;
	margin:0;
	}
table.header>img {
	margin:0;
}



table tr.left td {text-align:left;}
table tr td.center {text-align:center;}
table tr.center td {text-align:center;}

table tr.heads {line-height:0.8em;}
table tr.heads td {
	font-weight:bold;
	font-size:.8em;
	text-align:center;
}


table tr.border-top td, table tr.border-top th
{
	border-top: 1px solid black;
}

table tr.border-bottom th, table tr.border-bottom td
{
	border-bottom: 1px solid black;
}
table tr.border-gray th, table tr.border-gray td
{
	border-bottom: 1px solid gray;
}

table  tr.borders th , table tr.borders td {
 	border-left: 1px solid black;
 	border-right: 1px solid black;
 	border-top: 1px solid black;
 	border-bottom: 1px solid black;
 }

table tr.no-bottom th, table tr.no-bottom td {
	border-bottom: 0;
}
table tr.no-top th, table tr.no-top td {
	border-top: 0;
}

table tr.no-cols td {
	border-left:0;
	border-right:0;
}
table  tr.no-border  td {
 	border-left: 0;
	border-right: 0;
	border-top: 0;
	border-bottom:0;
}
table.col-border tr td, table.col-border tr th {
		border-left: 1px solid gray;
		border-right: 1px solid gray;
	}
table tr.col-border  th {
	border-left: 1px solid gray;
		border-right: 1px solid gray;
	}
table .alt-gray tr:nth-child(even)  {
	background: #CCC;
}
table.no-cells tr td {border:0;}
table.no-border {border:0;}

table tr td.lrpad {
	padding-left:2em;
	padding-right:2em;
}
.hidden {
	display:none;
}

.warn
{
	/*border: 2px solid black;*/
	text-align: left;

	padding: 3px;
	/* margin-bottom: 1em; */
	/* margin-left:2em; */
	margin-right:2em;


}
li {
	margin-bottom:0.4em;
	font-size:1em;
}

.warn ul {
	margin-top:0;
	margin-bottom:0;
}

.in2 , .indent2 { margin-left: 2em;
	margin-right: 0;

	}
.indent {
	margin-left:2em;
	margin-right:2em;
	}

.inleft2 {margin-left:2em;}

.today
{
	font-weight: bold;
	text-align: center;
	font-size: 1.5em;
}



.warnblock
{
	border:2px solid red;
	margin-left:2em;
	margin-right:2em;
	margin-bottom: 6px;
	padding-left: 1em;
	padding-right:1em;
}

.scaler {
	text-align:left;
	font-size:0.8em;
	content:"&nbsp";
}
.scaler:after {
    content: '';
    display: block;
    clear: both;
}


