@media print {
	/*
		use smaller type, larger lin spacing.
	*/
   body {
      color: #000;
      background: #fff;

      font: 9.0pt "Times New Roman", Times, serif;
line-height: 1.1;
      }

	div.break {page-break-before: always;}
/*
	use this class for diviison to be omitted when printed.
	(e.g., for time-sensitive that would be wrong on printed item)
 */
	.no-print {display:none;}
}


@page {
       size: 8.5in 11in;
      margin: 0.4in;
   }

@media screen {
	body { width: 1200px;}
}



body {
	max-width:1800px;
	font-family:'Times New Roman',times,serif;
	padding:1em;


	}

h5
{
	margin-bottom: 3px;
	font-size: 1em;
	text-decoration:underline;

}
h4
{
	margin-bottom: 3px;
	margin-top:0.5em;
	font-size: 1.2em;

	font-weight:bold;
}

h3 { font-size: 1.3em;
	font-weight:bold;
	text-decoration:underline;
	}

h2 { font-size: 1.5em;
	font-weight:bold;
	text-align:center;
	}

h1 { font-size: 2em;
	font-weight:bold;
	text-align:center;}

.tdate {margin-bottom:0;}

input {
	background-color:#FFC;
	border: 1px solid #CC9;
	}

input:invalid {
	background-color:#F00;
}

.invalid { background-color:#Fcc;}

textarea {
	background-color:#FFC;
	border: 1px solid #CC9;
	width: 40em;
	max-width: 85%;
	height:8em;
	}

button {
	background-color:#CFC;
	font-weight: bold;
}

.likebutton {
	display:inline-block;
	background-color:#CFC;
	border:2px solid black;
	padding:4px;

}

.likebutton a {
	color:black;
	text-decoration:none;
}

.pithy
{
	font-style: italic;
	text-align: center;
	margin-top:6px;
	margin-bottom:6px;
}



.right { text-align: right; }
.left { text-align: left; }
.center {text-align: center; }

.red {color:red;}
.white {color:white;}
.black {color:black;}

.lt-grn { background-color: #D4FB79; }
.bg-lgrn { background-color: #D4FB79; }
.bg-yellow {background-color: yellow; }
.bg-orange {background-color:#F3984D;}
.width50 {width:50%;}

.bg-black{
	background-color:black;
	padding:6px;

}

.sectionhead {
	text-align:left;
	border-bottom: 1px solid black;
	margin-bottom: 3px;
	font-weight:bold;
}

.night {
	background-color:black;
	color:white;
}

div.float {float:left; margin-right:1em;;}
div.clear {clear:left;}


table {
	border-collapse: collapse;
	border: 2px solid black;
	font-family: arial,san-serif;
	font-size:0.8em;
}

table tr th {border-bottom: 2px solid black;}

table tr td
{
	border: 1px solid black;

	text-align: center;
	padding: 6px;
	vertical-align:top;

}
table.caltable {
	margin-left:2em;
	text-align:left;
	width:90%;
	table-layout:fixed;
}

table.caltable td {
	text-align:left;
}
table.header {
	background-color:black;
	width:85%;
}
table.header tr td {
	background-color:black;
	text-align:right;
	color:white;
	padding:3px;
	margin:0;
	}
table.header>img {
	margin:0;
}



table tr.left td {text-align:left;}
table tr td.center {text-align:center;}
table tr.center td {text-align:center;}

table tr.heads {line-height:0.8em;}
table tr.heads td {
	font-weight:bold;
	font-size:.8em;
	text-align:center;
}

table tr.border-top td
{
	border-bottom: 0;
	border-top: 1px solid black;
}
table tr.border-top th
{
	border-bottom: 0;
	border-top: 1px solid black;
}
table tr.border-bottom td
{

	border-top: 0;
	border-bottom: 1px solid black;

}
table tr.border-bottom th
{
	border-top: 0;
	border-bottom: 1px solid black;
}
 table tr.borders td {
 	border-left: 1px solid black;
 	border-right: 1px solid black;
 	border-top: 1px solid black;
 	border-bottom: 1px solid black;
 }

table  tr.borders th {
 	border-left: 1px solid black;
 	border-right: 1px solid black;
 	border-top: 1px solid black;
 	border-bottom: 1px solid black;
 }

table  tr.no-bottom  td {
 	border-left: 0;
	border-right: 0;
	border-top: 0;
	border-bottom: 0;
}

table  tr.no-border  td {
 	border-left: 0;
	border-right: 0;
	border-top: 0;
	border-bottom:0;
}
table.col-border td, table.col-border th {
		border-left: 1px solid gray;
		border-right: 1px solid gray;
		border-top: 0;
		border-bottom: 0;
	}
table tr.col-border  th {
	border-left: 1px solid gray;
		border-right: 1px solid gray;
	}
table .alt-gray tr:nth-child(even)  {
	background: #CCC;
}

.hidden {
	display:none;
}
.border {
	border: 2px solid black;
	padding: 3px;
}
.warn
{
	/*border: 2px solid black;*/
	text-align: left;

	padding: 3px;
	/* margin-bottom: 1em; */
	/* margin-left:2em; */
	margin-right:2em;


}
.warn li {
	margin-bottom:0.4em;
}

.warn ul {
	margin-top:0;
	margin-bottom:0;
}

.in2 { margin-left: 2em;
	margin-right: 0;
	width:90%;
	}

.inline {
	display:inline;
}

.today
{
	font-weight: bold;
	text-align: center;
	font-size: 1.5em;
}



.warnblock
{
	display: inline-block;
	font-weight: bold;
	margin-bottom: 6px;
	padding-left: 3em;
	padding-right: 3em;
}

