
body {
font-family:Rubik,san-serif;
	padding:1rem;
	font-size:1.6rem; /*16 pt*/
	font-weight:400;
/* 	width:100%; */
/* 	padding-top:0; */
/* 	max-width:960px; */

	}

#head {
		}
#content {
	width:100%;
	padding:1rem;

}

h3 { font-size: 1.25rem;
	font-weight:bold;
	margin-top:1rem;
	text-align:left;
	}
