
/* @import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;0,600;0,700,0,800;1,400;1,500&display=swap') */;

/* Rubik font imported from google fonts
	regykar 400
	regular 400 italic
	medium 500
	semibold 600
	bold 700
	black 800

	*/
/* @import url('/css/Frutiger.css'); */

:root {
	font-size:28pt;
	font-weight:500;
}

#content, #head {
	width:100%;
	min-width:1400px;
	padding:0;


}

.page {
	transform-origin:top center;
}

#content h3 {
	text-align:center;
	text-decoration:underline;
}


