html {
	/* sets root font size */
	font-family:arial,san-serif;

	font-size:24pt;
	font-weight:800;
	line-height:1.4;
}
body{
	max-width:1920px;
	width:100vw;
}


table{
	font-size:1rem;
}
h4 {
	text-decoration:underline;
	margin-top:1rem;
}
